{% if cv.education %}
  <div id="education" class="entry">
    <header class="entry-header">
      <h1 class="entry-title"><i class="fas fa-book"></i> Education</h1>
    </header>

    <div class="entry-content">
      {% for e in cv.education %}
        {% if e.institution %}
          <h2 class="institution">{{ e.institution }}</h2>
        {% endif %}
        <div class="date">
          <h3><i class="far fa-calendar-alt"></i> 
          {% if e.startDate %}
            {{ e.startDate }}
          {% endif %}
          &mdash;
          {% if e.endDate == '' %}
            {{ site.data.theme.t.present | default: 'Present' }}
          {% else %}
            <span class="endDate">{{ e.endDate }}
          {% endif %}
          </h3>
        </div>
        {% if e.area %}
          <div class="area">{{ e.area }}{% if e.studyType %}<span class="studyType">{{ e.studyType | prepend: ', ' }}</span>{% endif %}{% if e.gpa %}<span class="gpa">{{ e.gpa | prepend: ' (' | append: ' GPA)' }}</span>{% endif %}</div>
        {% endif %}
        {% if e.courses and e.courses.length > 0 %}
          <h5 class="courses-title">Courses</h5>
          <ul class="courses">
            {% for course in e.courses %}
              <li>{{ course }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
