{% if cv.interests %}
  <div id="interests" class="entry">
    <header class="entry-header">
      <h1 class="entry-title">Interests</h1>
    </header>

    <div class="entry-content">
      {% for i in cv.interests %}
        <div class="taxonomy">
          {% if i.name %}
            <h2 class="title">{{ i.name }}</h2>
          {% endif %}
          {% if i.keywords %}
            {% for k in i.keywords %}
              <span class="badge badge-dark">{{ k }}</span>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
