{% if cv.skills %}
  <div id="skills" class="entry">
    <header class="entry-header">
      <h1 class="entry-title">Skills</h1>
    </header>

    <div class="entry-content">
      {% for s in cv.skills %}
        <div class="taxonomy">
          {% if s.name %}
            <h2 class="title">{{ s.name }}</h2>
          {% endif %}
          {% if s.keywords %}
            {% for k in s.keywords %}
              <span class="badge badge-dark">{{ k }}</span>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
