{% if cv.work %}
  <div id="work" class="entry">
    <header class="entry-header">
      <h1 class="entry-title">Work Details</h1>
    </header>
    <div class="entry-content">
      {% for w in cv.work %}
        {% if w.company %}
          <h2 class="name">
            {% if w.website %}
              <a href="{{ w.website }}">{{ w.company }}</a>
            {% else %}
              {{ w.company }}
            {% endif %}
          </h2>
        {% endif %}
        {% if w.position %}
          <h3 class="position">{{ w.position }}</h3>
        {% endif %}
        <div class="date">
          <h4><em>
          {% if w.startDate %}
            {{ w.startDate }}
          {% endif %}
          &mdash;
          {% if w.endDate == '' %}
            {{ site.data.theme.t.present | default: 'Present' }}
          {% else %}
            {{ w.endDate }}
          {% endif %}
        </em></h4>
        </div>
        {% if w.summary %}
          <div class="summary">
            <p>{{ w.summary }}</p>
          </div>
        {% endif %}
        {% if w.highlights %}
          <ul class="highlights">
            {% for highlight in w.highlights %}
              <li>{{ highlight }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
